.answer{
    padding:15px 20px;
    border-radius: 10px;
    border: 1px solid #bbb;
}

.well-image{
    width: 100%;
    height: auto;
}


.answer:hover {
    cursor: pointer;
}

.image-selected{
    background: rgba(86, 175, 220, 0.1);
    border: 1px solid #56afdc;
}

.image-quiz {
    max-height: 300px;
    overflow: hidden;
    position: relative;
}