<link rel="stylesheet" href="list/list.css">
<div ng-controller="ListCtrl as list">
    <form class="form-inline well well-sm clearfix" action="">
        <span class="glyphicon glyphicon-search"></span>
        <input type="text" ng-model="search" placeholder="Search..." class="form-control">
        <a href="#!/quiz" class="btn btn-warning pull-right">
            <strong>Start Quiz</strong>
        </a>
    </form>
    <div class="row">
        <div class="col-sm-6" ng-repeat="turtle in turtleData | filter:search">
            <div class="well well-sm">
                <div class="row turtle-item">
                    <div class="col-md-6 img-wrapper">
                        <img ng-src="{{turtle.image_url}}" alt="" class="img-rounded img-responsive well-image">
                    </div>
                    <div class="col-md-6">
                        <h4>{{turtle.type}}</h4>
                        <p><strong>Locations: </strong>{{turtle.locations}}</p>
                        <p><strong>Size: </strong>{{turtle.size}}</p>
                        <p><strong>Avarage Lifespan: </strong>{{turtle.lifespan}}</p>
                        <p><strong>Diet: </strong>{{turtle.diet}}</p>
                        <button class="btn btn-primary pull-right" 
                            data-toggle="modal" 
                            data-target="#turtle-info" 
                            ng-click="changeActiveTurtle(turtle)">Learn more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="turtle-info">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>{{activeTurtle.type}}</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <img ng-src="{{activeTurtle.image_url}}" class="img-rounded img-responsive" alt="">
                        </div>
                    </div>
                    <div class="row top-buffer">
                        <div class="col-md-6">
                                <p><strong>Locations: </strong>{{activeTurtle.locations}}</p>
                                <p><strong>Size: </strong>{{activeTurtle.size}}</p>
                                <p><strong>Avarage Lifespan: </strong>{{activeTurtle.lifespan}}</p>
                                <p><strong>Diet: </strong>{{activeTurtle.diet}}</p>
                        </div>
                        <div class="col-xs-12 top-buffer">
                            <p>{{activeTurtle.description}}</p>
                            <button class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
